.partners_bg{
    /* display: flex; */
    justify-content: space-evenly;
    /* margin-top: 2rem; */
    background: #006DDD;
    /* position: absolute;
    left: 0%;
    right: 0%; */
    background-blend-mode: luminosity, normal;
    /* border: 0.2px solid #1E2250; */
    backdrop-filter: blur(2px);
    /* opacity: 0.98; */
}
.partners_header{
    font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
    font-size: 23px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    /* position: fixed;
    top: 0%; */
}
 .partners_img{
    /* background: none; */
    align-items: center;
    align-self: center;
    align-content: center;
}
/*
.partners_img:hover{
    background: #0B0D22;
} */
#img1 {display:block;}
#img2 {display:none}

@media all and (max-width: 499px) {
    #img1 {display: none;}
    #img2 {display: block; width: 50%;}
}
/* .partners_img{
    padding: fixed;
    top: 0%;
    background-image: url('assets/Partners.png');
    
}
@media only screen and (max-width: 500px){ 

    .partners_img{
       background-image: url("assets/Partners_mobile.png");
    }
 }
  */