/* * {
  cursor: none;
} */
.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor {
  background-color: #24feee;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.app__bg {
  background: url("./assets/bg.png");
  /* background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden; */
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* background-repeat: repeat; */
  /* background-attachment: fixed; */
  overflow-x: hidden;
}
.app__bg_hero {
  background: url("./assets/hero_bg.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size:contain;
  /* background-repeat: repeat; */
  /* background-attachment: fixed; */
  overflow-x: hidden;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.app__wrapper_img_android {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-left: 2rem; */
}
.app__wrapper_img_about {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  width: 15rem;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 18px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
  line-height: 28px;
  font-size: 16px;
  text-align: left;
}
.p__opensans_android {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
  line-height: 28px;
  font-size: 14px;
  text-align: left;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 39px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
}
.headtext__cormorant-2 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
}
.content-padding-2 {
  padding: 1rem;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__bg {
    background: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  }
  .headtext__cormorant-2 {
    font-size: 24px;
    line-height: 40px;
  }
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__bg {
    background: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    overflow-x: hidden;
  }
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    /* text-transform: capitalize; */
    line-height: 28px;
    font-size: 16px;
    text-align: center;
  }
  .custom__button {
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .headtext__cormorant {
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .app__wrapper_img_about {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .app__bg {
    background: url("./assets/bg.png");
    /* scale: 0.5; */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* background-attachment: fixed; */
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    /* text-transform: capitalize; */
    line-height: 28px;
    font-size: 16px;
    text-align: center;
  }
  .custom__button {
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .headtext__cormorant {
    font-size: 20px;
    line-height: 70px;
  }
  .headtext__cormorant {
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
}
